body {
    min-width: 1200px;
    overflow: scroll;
}

.tab-content {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.container-all {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    height: 100%;
    background-color: #957f88;
    color: white;
    transition: 1s;
    display: inline-block;
    padding-bottom: 221px;
}

#sidebar.active {
    margin-left: -200px;
}

.container-right {
    background-color: #F6E9E2;
    width: 100vw;
    text-align: center;
}

.collapse-btn {
    position: relative;
    top: 1%;
    left: 200px;
    background-color: #957f88;
    color: white;
    border: none;
    font-size: 30px;
}

.collapse-btn:hover {
    background-color: #c3b7bc;
    transition: 0.4s;
}

#sidebar p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 20px;
    display: block;
    text-decoration: none;
    /* color: white; */
}

#sidebar ul li a:hover {
    color: #957f88;
    background: #F6E9E2;
}

ul .fas, ul .far, ul .fab {
    float: right;
    margin-right: 10px;
}

#sublist {
    background-color: #c3b7bc;
    font-size: 20px;
    font-style: italic;
}

header {
    height: 86px;
    background-color: gray;
    color: white;
    padding: 15px;
    font-size: 30px;
    align-items: center;
    display: flex;
}

header .fas {
    float: left;
}

.manager {
    margin-left: auto;
    margin-right: 10px;
}

.login {
    font-size: 18px;
    margin-left: auto;
    margin-right: 10px;
}

.btn {
    border-top-left-radius: 25rem !important;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    border-bottom-left-radius: 25rem;
}

.btn-secondary {
    color: #fff;
    background-color: gray;
    border-color: gray;
    font-size: 18px;
}

.block {
    height: 117px;
}

.nav-tabs .nav-link-a.active {
    background-color: #F6E9E2;
    /*#F6E9E2*/
    color: #957f88;
    border-color: #F6E9E2;
}

.nav-tabs .nav-link-a {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.nav-link-a {
    color: white;
}

a {
    color: white;
}

#button-collapse {
    padding-bottom: 20px;
}

#button-collapse button {
    padding-top: 20px;
}

.modal-header h3 {
    font-size: 30px;
    color: gray;
    /*置中*/
    position: absolute;
    top: 10%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #F6E9E2;
}

.modal-body form .account, .modal-body form .password {
    margin: 30px;
    width: 90%;
    border-radius: 20px;
}

.modal-body form .btn {
    width: 100%;
    font-size: 25px;
    background-color: #957f88;
    border-color: #957f88;
}

#service {
    padding-top: 50px;
}

.dataTables_length, .dataTables_filter {
    margin-top: 10px;
}

.pagination li a {
    margin-left: 3px;
    margin-right: 3px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

@media (max-width:700px) {
    #sidebar {
        margin-left: 0px;
        width: 150px;
        font-size: 20px;
        height: auto;
    }

    #sidebar.active {
        margin-left: -100px;
    }

    #sidebar ul p {
        font-size: 18px;
    }

    .collapse-btn {
        position: relative;
        top: 1%;
        left: 110px;
    }
}