@charset "UTF-8";
table {
	width: 800px;
	background-color: #F6E9E2;
	margin-top: 5px;
	margin-bottom: 5px;
  }
  table, th, td {
    padding: 5px;
    border: 1px solid #CCCCFF;
    margin: 25px;
    align-items: center;
    margin: auto;
    font-size: 14px;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }
table,input[readonly]{
	background-color: #F6E9E2;
}
/* new */
#streaming{
  text-align: left;
  padding: 80px;
  width: 860px;
}

#buabuay{
  width: 300px;
  height: 350px;
  text-align: right;
  margin-left: 800px;
  margin-top: -361px;
}
/* new end */